.Rproj.user
.Rhistory
.RData
.Ruserdata
x86_64-pc-linux-gnu
*.Rprof
*_Rprofsummary.RData
*.Rprof_summary.RData
*.Rprofvis.html
*.Rprofvis_files/
*.Rprofvis.RData
profvis.html
profvis.js
profvis?.js
restartResult.1.Rsave
/old/
/tmp_data/
/selac_paper_output/
/profile_results/
/ecoli_output/
log_profile_*.txt